* {
  margin: 0;
  padding: 0;
}

.pre-header {
  background-color: #e7ecff;
  height: 60px;
  color: #505f98;
}

.pre-header .main-menu {
  list-style: none;
}

.pre-header .main-menu li {
  display: inline-block;
  margin-left: 15px;
}
.pre-header .main-menu li a {
  list-style: none;
  color: #505f98;
  text-transform: uppercase;
}
